*
!/.blackfire.yml
!/.gitignore
!/.magento.app.yaml
!/.magento.env.yaml*
!/.magento
!/.magento/**
/.magento/local
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/etc/config.php
!/app/i18n/**
!/auth.json
!/composer.json
!/composer.lock
!/magento-vars.php
!/php.ini
!/update/.htaccess
/update/**
