#log:
#  slack:
#      token: "<your-slack-token>"
#      channel: "<your-slack-channel>"
#      username: "SlackHandler"
#      min_level: "info"
#  email:
#      to: <your-email>
#      from: <your-email>
#      subject: "Log notification from Magento Cloud"
#      min_level: "notice"
