<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<replace xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/magento/mtf/Magento/Mtf/Fixture/InjectableFixture/etc/replace.xsd">
    <field path="payment/cybersource/merchant_id" value="" />
    <field path="payment/cybersource/transaction_key" value="" />
    <field path="payment/cybersource/profile_id" value="" />
    <field path="payment/cybersource/access_key" value="" />
    <field path="payment/cybersource/secret_key" value="" />

    <field path="payment/eway/sandbox_api_password" value="" />
    <field path="payment/eway/sandbox_encryption_key" value="" />
    <field path="payment/eway/sandbox_api_key" value="" />

    <field path="payment/worldpay/installation_id" value="" />
    <field path="payment/worldpay/response_password" value="" />
    <field path="payment/worldpay/md5_secret" value="" />

    <field path="fraud_protection/signifyd/api_key" value="" />
</replace>
