<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<replace xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/magento/mtf/Magento/Mtf/Fixture/InjectableFixture/etc/replace.xsd">
    <field path="payment/eway/sandbox_api_password" value="" />
    <field path="payment/eway/sandbox_encryption_key" value="" />
    <field path="payment/eway/sandbox_api_key" value="" />
</replace>
