<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Magento\TargetRule\Test\Constraint\AssertTargetRuleSuccessDeleteMessage">
    <arguments>
      <argument name="severity" xsi:type="string">high</argument>
    </arguments>
  </type>
  <type name="Magento\TargetRule\Test\Constraint\AssertTargetRuleSuccessSaveMessage">
    <arguments>
      <argument name="severity" xsi:type="string">high</argument>
    </arguments>
  </type>
  <type name="Magento\TargetRule\Test\Constraint\AssertTargetRuleInGrid">
    <arguments>
      <argument name="severity" xsi:type="string">high</argument>
    </arguments>
  </type>
  <type name="Magento\TargetRule\Test\Constraint\AssertTargetRuleIsNotPresentedInGrid">
    <arguments>
      <argument name="severity" xsi:type="string">middle</argument>
    </arguments>
  </type>
  <type name="Magento\TargetRule\Test\Constraint\AssertTargetRuleForm">
    <arguments>
      <argument name="severity" xsi:type="string">high</argument>
    </arguments>
  </type>
  <type name="Magento\TargetRule\Test\Constraint\AssertProductCrossSellsForCustomerSegment">
    <arguments>
      <argument name="severity" xsi:type="string">medium</argument>
    </arguments>
  </type>
</config>
