<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Reward\Test\Constraint\AssertRateSuccessSaveMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardPointsMessageOnCustomerRegistration">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardPointsBalance">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardPointsMessageOnShoppingCart">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardSubscriptionSaveMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardSubscriptionOnBackend">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardInHistoryGrid">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardNoExchangeMessageForCurrencyToPoints">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardNoExchangeMessageForPointsToCurrency">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\Reward\Test\Constraint\AssertRewardPointsSuccessDeleteMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
</config>
