<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingSuccessDeleteMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingMassActionSuccessDeleteMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingSuccessSaveMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingForm">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingForItemsInCart">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingForItemsOnFrontendCheckout">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingForOrderInCart">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingForOrderOnFrontendCheckout">
        <arguments>
            <argument name="severity" xsi:type="string">S2</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingNotInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingNotOnOrderCreationPage">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingNotOnFrontendCheckoutCart">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingMassActionNotInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingMassActionInGrid">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingSuccessUpdateMessage">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingOnFrontendCheckoutCart">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingMassActionForm">
        <arguments>
            <argument name="severity" xsi:type="string">S3</argument>
        </arguments>
    </type>
    <type name="Magento\GiftWrapping\Test\Constraint\AssertGiftWrappingTaxTotalsForOrder">
        <arguments>
            <argument name="severity" xsi:type="string">S1</argument>
        </arguments>
    </type>
</config>
